{% extends 'base.html.twig' %}

{% block title %}Forgotten Password Request{% endblock %}

{% block body %}
    <h1>Forgotten Password Request</h1>
    {{ form_start(requestPassForm) }}
        {{ form_row(requestPassForm.email) }}
        <button class="btn" type="submit">Send</button>
    {{ form_end(requestPassForm) }}
{% endblock %}
