@import "tailwindcss";
@import "../../node_modules/tw-elements/css/tw-elements.min.css";

body {
    background-color: #2F2F2F;
}

@layer components {
    .btn {
        @apply mt-4 text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:outline-none
        focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-gray-600
        dark:hover:bg-gray-700 dark:focus:ring-gray-800;
    }
}
