<h1>Activation of your account</h1>
<p>Hello,</p>
<p>To activate your account on Dark and Darker - Quest Tracker click on the link bellow.</p>
<p>
    <a href="{{ absolute_url(path('verify_user', {token: token})) }}">Link</a>
</p>


{{ token }}
