<footer class="mt-4 bg-[#121212] shadow-2xl shadow-black/70 rounded-lg">
    <div class="max-w-screen-xl mx-auto px-4 py-6 sm:flex sm:items-center sm:justify-between">
        <span class="text-sm text-[#CCCCCC] sm:text-center block text-center sm:text-left">
            © 2025 <span class="font-semibold text-[#CCCCCC]">Hildon™</span>. All Rights Reserved.
        </span>
        <div class="mt-4 sm:mt-0 flex justify-center sm:justify-end space-x-6">
            <a href="#" class="text-[#CCCCCC] hover:text-white text-sm">Privacy Policy</a>
            <a href="#" class="text-[#CCCCCC] hover:text-white text-sm">Terms</a>
            <a href="#" class="text-[#CCCCCC] hover:text-white text-sm">Contact</a>
        </div>
    </div>
</footer>
