{% extends 'base.html.twig' %}

{% block title %}Edit Item{% endblock %}

{% block body %}
<div class="flex flex-col items-center justify-between bg-[#1E1E1E] mt-20 mx-70 rounded-xl shadow-2xl min-h-120">
    <h1 class="my-4">Edit Item</h1>

    {{ include('item/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('item_index') }}" class="btn text-white">Back to list</a>

    {{ include('item/_delete_form.html.twig') }}
</div>
{% endblock %}
