{% extends 'base.html.twig' %}

{% block title %}New Item{% endblock %}

{% block body %}

<div class="flex flex-col items-center justify-between bg-[#1E1E1E] mt-20 mx-70 rounded-xl shadow-2xl min-h-120">
    <h1>Create new Item :</h1>

    <div>
        {{ include('item/_form.html.twig') }}

    </div>

    <div class="btn mb-10">
        <a href="{{ path('item_index') }}">back to list</a>
    </div>
</div>
{% endblock %}
